.gestor{
    background-color: azure;
    width: 100%;
    min-width: 1440px;
    min-height: 1024px;
    position: relative;
}

.gestor .header-2{
    position:absolute;
    top: 0;
    left: 0;
    width: 1440px;
    height: 116px;
    display: flex;
    background-color: #eacefc;
}

.gestor .text-wrapper-13{
    margin-top: 47px;
    width: 51px;
    height: 21px;
    margin-left: 720px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2e1259;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .text-wrapper-14{
    margin-top: 47px;
    width: 110px;
    height: 21px;
    margin-left: 38px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2e1259;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .text-wrapper-15{
    margin-top: 47px;
    width: 68px;
    height: 19px;
    margin-left: 38px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2e1259;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-16{
    margin-top: 47px;
    width: 135px;
    height: 21px;
    margin-left: 38px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2e1259;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .perfil-section-2{
    margin-top: 16px;
    width: 158px;
    height: 84px;
    position: relative;
    margin-left: 39px;
}

.gestor .img{
    position: absolute;
    width: 29.14%;
    height: 52.38%;
    top: 15.48%;
    left: 11.92%;
}

.gestor .text-wrapper-17{
    position: absolute;
    top: 20px;
    left: 72px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2e1259;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-18{
    position: absolute;
    top: 44px;
    left: 73px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #2e1259;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.gestor .mask-group-2{
    position: absolute;
    width: 8.61%;
    height: 12.13%;
    top: 45.24%;
    left: 82.91%;
}

.gestor .janela-cadastro-wrapper{
    position: absolute;
    top: 116px;
    left: 0;
    width: 1440px;
    height: 840px;
    display: flex;
    background-color: #2e1259;
}

.gestor .janela-cadastro{
    margin-top: 41px;
    width: 919px;
    height: 703px;
    margin-left: 257px;
    position: relative;
    background-color: #ced8fd;
}

.gestor .frame-4{
    position: absolute;
    top: 1px;
    left: 0;
    width: 919px;
    height: 49px;
    display: flex;
    background-color: #0238f9;    
}

.gestor .text-wrapper-19{
    margin-top: 11px;
    width: 193px;
    height: 29px;
    margin-left: 11px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .frame-5{
    position: absolute;
    top: 631px;
    left: 663px;
    width: 240px;
    height: 48px;
    display: flex;
    background-color: #4444e4;
    border-radius: 5px;
    overflow: hidden;   
}

.gestor .text-wrapper-20{
    margin-top: 16px;
    width: 96px;
    height: 19px;
    margin-left: 68px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .frame-6{
    position: absolute;
    top: 631px;
    left: 454px;
    width: 187px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e45944;
    border-radius: 5px;
    overflow: hidden;   
}

.gestor .text-wrapper-21{
    margin-top: 0;
    width: auto;
    height: 19px;
    margin-left: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
}

.gestor .frame-7{
    position: absolute;
    top: 91px;
    left: 11px;
    width: 851px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-8{
    position: absolute;
    top: 256px;
    left: 11px;
    width: 851px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-9{
    position: absolute;
    top: 440px;
    left: 11px;
    width: 851px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-10{
    position: absolute;
    top: 157px;
    left: 13px;
    width: 262px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-11{
    position: absolute;
    top: 345px;
    left: 11px;
    width: 262px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-12{
    position: absolute;
    top: 515px;
    left: 11px;
    width: 262px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-13{
    position: absolute;
    top: 517px;
    left: 316px;
    width: 262px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-14{
    position: absolute;
    top: 157px;
    left: 299px;
    width: 190px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-15{
    position: absolute;
    top: 345px;
    left: 316px;
    width: 290px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-16{
    position: absolute;
    top: 156px;
    left: 513px;
    width: 190px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .frame-17{
    position: absolute;
    top: 345px;
    left: 631px;
    width: 84px;
    height: 36px;
    background-color: #ffffff; 
    border-radius: 6px;   
}

.gestor .text-wrapper-22{
    position: absolute;
    top: 68px;
    left: 11px;
    width: 348px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .text-wrapper-23{
    position: absolute;
    top: 238px;
    left: 19px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .text-wrapper-24{
    position: absolute;
    top: 410px;
    left: 19px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-25{
    position: absolute;
    top: 135px;
    left: 22px;
    width: 32px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
}

.gestor .text-wrapper-26{
    position: absolute;
    top: 324px;
    left: 22px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-27{
    position: absolute;
    top: 494px;
    left: 22px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-28{
    position: absolute;
    top: 496px;
    left: 327px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-29{
    position: absolute;
    top: 135px;
    left: 316px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-30{
    position: absolute;
    top: 324px;
    left: 316px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-31{
    position: absolute;
    top: 134px;
    left: 522px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-32{
    position: absolute;
    top: 326px;
    left: 631px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: normal;
    white-space: nowrap;
}

.gestor .lets-icon-check{
    position: absolute;
    top: 133px;
    left: 56px;
    width: 21px;
    height: 21px;
}

.gestor .footer-3{
    position: absolute;
    top: 956px;
    left: 0;
    width: 1440px;
    height: 68px;
    background-color: #e3dddd;
}

.gestor .logo-2{
    position: absolute;
    top: 21px;
    width: 75px;
    height: 75px;
    left: 26px;
    display: flex;
    background-color: #2e1259;
}

.gestor .text-wrapper-33{
    margin-top: 28.8px;
    width: 45px;
    height: 19px;
    margin-left: 15.5px;
    transform: rotate(-33.13deg);
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color:#eacefc;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.gestor .text-wrapper-56{
    position: absolute;
    top: 42px;
    left: 123px;
    width: 588px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #2e1259;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.gestor .p-1{
    margin-top: 26px;
    width: 350px;
    height: 15px;
    margin-left: 34px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.12px;
    line-height: normal;
}
